/* font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

:root{
    --color-one: #662EED;
    --color-two: #F9F7FE;
    --font-color: #272142;
}

body{
    font-family: 'Nunito', sans-serif;
    color: var(--font-color);
}

h1{
    font-size: 72px;
    line-height: 98px;
    padding-top: 47px;
    text-align: center;
    }

h2{
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 30px;
}

h3{
    font-size: 64px;
}

h4{
    font-size: 36px;
    text-align: center;
}

h5{
    font-size: 18px;
    color: #F65282;
    font-weight: bold;
    margin-bottom: 15px;
}

h6{
    text-transform: uppercase;
    color: var(--color-one);
    font-weight: bold;
}

nav{
    margin-top: 30px;
}

.nav-menu{
    background-color: white;
    padding: 30px;
}

.nav-menu ul{
margin: 0;
padding: 0;
}

.nav-menu li{
list-style-type: none;
margin-left: 20px;
display: inline;
line-height: 25px;
font-size: 20px;
}

.active{
    color: var(--color-one);
}

a{
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

a:hover{
    color: var(--color-one);
}

p{
    font-size: 18px;
    line-height: 30px;
}

a{
    color: var(--font-color);
}

a:hover{
    color: var(--color-one);
}

/* Header navigation bar  */

.logo{
    max-height: 20px;
}




/* Hero */

.hero-img{
  background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url(/images/banner.png); 
  margin: 85px 0 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.hero {
    text-align: center;
    font-style: normal;
    font-weight: 700px;
    color: white;
    }


.hero p{
    font-size: 24px;
    line-height: 35px;
    padding-left: 20px;
    padding-right: 20px;
}


/* Footer  */

footer {
    background-color: var(--color-two);
}

.footer-content {
    padding: 51px 0 38px 0;
}

footer p{
    font-size: 16px;
    font-family:'Roboto', sans-serif;
}

.github-link{
    color: #F65282;
}

.github-link:hover{
    color: var(--color-one)
}


/* Social Media */

i{
    color: var(--font-color);
    margin:0 15px;
    color: var(--font-color);
    line-height: 18px;
    font-size: 20px;
    transition: all 100ms ease-in-out;
}

i:hover{
    color: var(--color-one);
}


/* Top Section */

.top-section {
    margin: 20px 0 100px 0;
}


/* About Me Section */

.about-section-content p{
    margin: 50px 0 35px 0;
}

.about-section-content{
    margin: 30px;
}

.favourite-recipe{
    padding: 60px 30px 60px 0;
}

.favourite-recipe h2{
    font-size: 24px;
}

.favourite-recipe p{
    font-size: 16px;
}

.mid-section{
    margin-top: 100px;
}


/* Recipe Page  */

.dash{
    border-bottom: 1px dashed #67D5D2;
    padding-bottom: 20px;
}

.step-by-step {
    padding: 15px 15px 15px 0;
}

.recipe-card{
    max-width: 760px;
    display: block;
    margin: auto;
}

.recipe-content{
    padding: 40px 0 40px 0;
}

.recipe-content ul{
    list-style-type: none;
    padding: 0;
}

.recipe-content li{
    border-bottom: 1px dashed #67D5D2;
    padding: 15px 15px 15px 0;
    font-size: 18px;
}

.recipe-img{
    display: block;
    margin: auto;
}

.branding {
    color: var(--color-one);
}

.branding:hover{
    background-color: var(--color-two);
    color: var(--color-one);
}

.branding-bg{
    background-color: var(--color-one);
    color: white;
}

.branding-bg:hover{
    background-color: var(--color-one);
    color: white;
}





/* Contact Page  */

.contact-content{
    margin:90px 30px 30px 30px;
}

.contact-section{
    margin-bottom: 500px;
}





@media (max-width:768px) {
    h1{
        font-size: 45px;
    }

    .logo{
        max-height: 11px;
    }

    .hero p{
        font-size: 20px;
    }

    h2{
        font-size: 22px;
        text-align: center;
        margin-bottom: 30px;
    }

    h3{
        font-size: 35px;
    }

    h4{
        font-size: 28px;
    }

    li{
        font-size: 12px;
    }

    .nav-menu li {
        font-size: 13px;
    }

    .recipe-content li{
        border-bottom: none;
        list-style-type: disc;
        margin-left: 15px;
    }

    .thumbnail{
        max-width: 360px;
        display: block;
        margin:auto;
    }

    .hero-img{
        background-color: var(--font-color);
        background-image: none;
        opacity: 80%;
    }

    .about-section-content{
        text-align: center;
    }

    .favourite-recipe{
        text-align: center;
    }

    .step-by-step{
        padding: 20px;
    }

    .footer-content {
        padding: 38px 20px;
    }

    footer p{
        font-size: 9px;
    }

    footer i{
        margin: 0 5px;
    }

}