/* font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

:root{
    --color-one: #662EED;
    --color-two: #F9F7FE;
    --font-color: #272142;
}

body{
    font-family: 'Nunito', sans-serif;
    color: var(--font-color);
}

h1{
    font-size: 72px;
    line-height: 98px;
    padding-top: 47px;
    text-align: center;
    }

h2{
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 30px;
}

h3{
    font-size: 64px;
}

h4{
    font-size: 36px;
    text-align: center;
}

h5{
    font-size: 18px;
    color: #F65282;
    font-weight: bold;
    margin-bottom: 15px;
}

h6{
    text-transform: uppercase;
    color: var(--color-one);
    font-weight: bold;
}


ul{
    list-style-type: none;
    padding: 0;
}

li{
    border-bottom: 1px dashed #67D5D2;
    padding: 15px 15px 15px 0;
}

a{
    color: var(--font-color);
}

a:hover{
    color: var(--color-one);
}



/* Hero */

.hero-img{
  background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url(/images/banner.png); 
  margin: 135px 0 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.hero {
    text-align: center;
    font-style: normal;
    font-weight: 700px;
    color: white;
    }


.hero p{
    font-size: 24px;
    line-height: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Social Media */

i{
    color: var(--font-color);
    margin: 15px;
}


/* Top Section */
.top-section {
    margin: 20px 0 100px 0;
}


/* About Me Section */

.about-section-content p{
    margin: 50px 0 35px 0;
}

.about-section-content{
    margin: 30px;
}


/* Recipe Page  */

.dash{
    border-bottom: 1px dashed #67D5D2;
    padding-bottom: 20px;
}

.step-by-step {
    padding: 15px 15px 15px 0;
}

.recipe-card{
    max-width: 760px;
    display: block;
    margin: auto;
}

.recipe-content{
    padding: 40px 0 40px 0;
}

.recipe-img{
    display: block;
    margin: auto;
}


/* Contact Page  */

.contact-content{
    margin:90px 30px 30px 30px;
}





@media (max-width:768px) {
    h1{
        font-size: 45px;
    }

    .hero p{
        font-size: 20px;
    }

    h2{
        font-size: 22px;
        text-align: center;
        margin-bottom: 30px;
    }

    h3{
        font-size: 35px;
    }

    h4{
        font-size: 28px;
    }

    li{
        border-bottom: none;
        list-style-type: disc;
        margin-left: 15px;
    }

    .img-hp{
        max-width: 380px;
        display: block;
        margin:auto;
    }

    .hero-img{
        background-color: var(--font-color);
        background-image: none;
        opacity: 80%;
    }

    .about-section-content{
        text-align: center;
    }

    .step-by-step{
        padding: 20px;
    }

}